# Discord Bot Token from Discord Developer Portal
TOKEN=

# Optional User Token to fetch channels from servers the bot is not in
USER_TOKEN=

# Bot Command Prefix (Default: /)
PREFIX=/

# Web Dashboard Port
PORT=3000
